

   .navbar:before,
   .navbar:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size: 400% 400%;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 20px;
    z-index: -1;
    animation: animate 3s ease alternate infinite;
   }
  .navbar:before,
   .navbar:after{
    filter: blur(8px);
   }
   @keyframes animate{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
   }
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: black;
    color: white;

    position: relative;
    margin: auto auto;
    width: auto;
}
.logo{
    font-size: 30px;
}
.nav-links{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}
.home,
.movies,
.contact,
.about,
.signup{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}
.signup{
    border: 1px solid yellow;
    border-radius:5px ;
}
.mobile-menu-icon{
    display: none;
}
@media screen and (max-width:780px){
    .logo{
        display:flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }

 .nav-links{
     display: none;

 }  
 .nav-links-mobile{
     position: absolute;
     display: block;
     list-style: none;
     background-color: black;
     left:0;
     top: 75px;
     transition: all 0.5s ease-out;
     width: 100%;
 } 
 .home,
 .about,
 .contact,
 .movies,
 .signup{
     color: aliceblue;
     text-align: center;
     padding: 32px;
     width: 100%;
     transition: all 0.5s ease-out;
 }
 .signup{
     border:none;
 }
 .mobile-menu-icon{
     display: block;
     position: absolute;
     font-size: 30px;
     color: white;
     background-color: black;
     border: none;
     outline: none;
     top: 15px;
     right: 25px;

 }

}